<div class="box">
    <h1><?= _('Add New App Password') ?></h1>
    <form method="get" action="<?= \RainLoop\Utils::Url('action', 'plugin', 'app_passwords') ?>">
        <input type="hidden" name="_csrf" value="<?= \RainLoop\Utils::GetCsrfToken(true) ?>">
        <input type="hidden" name="a" value="app_passwords">
        <input type="hidden" name="do" value="add">
        <p>
            <?= _('Enter a new App Password below:') ?>
        </p>
        <p>
            <input type="password" name="app_password">
        </p>
        <p>
            <button type="submit"><?= _('Add') ?></button>
        </p>
    </form>
</div>